[2016-02-04 23:56] JayHaoDing opened #1 "Anonymous Email Sending Failed"
Existing email sending schema requires auth method. It is necessary for public SMTP server but corporation internal SMTP can be used for anonymous email sending.

Therefore, default configuration will give following error

[code]

If the auth part is removed in email.es6 then it's fine

[code]

[2016-03-01 00:13] flaccid commented on #1
@ndelitski would you entertain a pull request for supporting noauth?

[2016-03-01 08:39] ndelitski commented on #1
@flaccid surely! sry didn't see notifications earlier. we will definitely fix it soon!

[2016-03-01 08:49] flaccid commented on #1
@ndelitski no worries, we also would like templating of the emails including html; I sent you an email, but basically just wondering if pull requests are ok or if you would rather do in your own way - templating for example is not a minor change.

[2016-03-01 09:01] ndelitski commented on #1
PR with fixes are totally ok! but for features like email templating project needs significant refactoring as you said, it would be better if I do it by myself. I'll try release templating these week, it depends on my current workload

[2016-03-01 09:05] ndelitski commented on #1
Mounting a template file(something like .hbs) into rancher-alarms container sounds good for you?

[2016-03-01 09:09] flaccid commented on #1
No problem, we'll keep an eye out and then after these 2 are addressed see if we can PR any fixes that might be laying around. I think for feature changes that are not minor, we'll start with an issue first.

Re: templating, handlebars is fine but we do need a basic way to do this in compose directly in rancher without using volumes if possible though it might make sense that the rancher-alarms co

[2016-03-01 16:29] ndelitski commented on #1
@JayHaoDing @flaccid just released a prepatch version image with noauth fix, please check it out with your smtp server `docker pull ndelitski/rancher-alarms:0.1.1-0` and then I release 0.1.1 and update `latest` image

[2016-03-01 16:30] ndelitski commented on #1
FYI code changes since 0.1.0 https://github.com/ndelitski/rancher-alarms/commit/aafeabb7e637c585f245b0863d1cf637bd70fce3

[2016-03-01 23:26] jayhding commented on #1
@ndelitski test result showed the solution did not work. I did not configure ALARM_EMAIL_USER and ALARM_EMAIL_PASS but seems smtp.auth is still not NULL.

[code]

And just FYI, due to proxy issue we cannot use the rancher-alarms image directly so we have touse own Dockerfile and looks like

[code]

[2016-03-02 06:25] ndelitski commented on #1
@JayHaoDing no need to pass empty hash in `auth` parameter, current logic is – if `auth` present it should have credentials or it is invalid

[2016-03-02 06:32] jayhding commented on #1
But it didn't work according to my test. I simpley did not set any value (not mention at all) for USER and PASS in docker compose file. What else shall I do?
To me it looked like the auth{} did not make the if check be failed. 

Regards,
Jay Ding

[code]

From: Nick Delitski notifications@github.com
Sent: Wednesday, March 2, 2016 17:25
Subject: Re: [rancher-alarms] Anonymous Email Sending Failed (

[2016-03-02 06:47] flaccid commented on #1
Perhaps support either method and document best method in readme?

[2016-03-02 07:43] ndelitski commented on #1
@JayHaoDing you are right, I forgot a part where environment variables are composed into config. In a future refactoring I am planning to move config asserts into one place.
Updated master, this should fix. will update readme later

[2016-03-02 22:27] jayhding commented on #1
@ndelitski new changes have fixed this issue, thanks!

[2016-03-03 08:14] flaccid commented on #1
Good to close (after merge to master)?

[2016-03-03 10:05] ndelitski commented on #1
will close soon after updating docs

[2016-03-29 05:28] JayHaoDing opened #2 "State buffer length is always 1"
Below codes in monitor.es6 tend to initialise two buffers with given length but both buffers will be created with length as 1.

[code]

Need to change array initialisation method to
[code]

[2016-03-29 06:52] ndelitski commented on #2
@JayHaoDing Hi Jay! On which version of node can i reproduce this issue?

[2016-03-29 07:07] jayhding commented on #2
Hi, I'm using Node 4.2.1

[2016-03-29 23:42] JayHaoDing opened #4 "Stack and Service URL have changed since Rancher GA 1.0"
Before Rancher GA the URL looks like

[code]

But Rancher GA 1.0 apparently changed the URL to such

[code]

Therefore, monitor.es6 needs to be updated to generate correct URL in the email. Thanks.

[2016-04-14 01:24] jayhding commented on #4
@ndelitski hi, would you mind to comment if you plan to work on this issue? Thanks!

[2016-06-09 12:18] jayhding commented on #2
@ndelitski Hi Nick, not sure if this issue can be reproduced from your side?

[2016-06-24 06:18] SydOps opened #5 "feature request - slack plugin"
I'd like to ask feature to send alarms to  [slack incoming webhook](https://api.slack.com/incoming-webhooks)

Second, it simplifies the setting and reduce into one parameter.

from
[code]

to

    slack_webhook: https://hooks.slack.com/services/<KEY>

Third, I needn't set SMTP server at all, which need extra resource involved.

[2016-06-24 06:36] ozbillwang commented on #5
the package `slack-node` is exist, let me see if I can help directly

https://www.npmjs.com/package/slack-node

[2016-06-24 06:46] SydOps opened #6 "can you update Dockerfile?"
Could you please update `Dockerfile` to show us how your build the image?

[2016-06-24 06:49] ozbillwang commented on #6
Seems it has been pasted here:

https://github.com/ndelitski/rancher-alarms/issues/1#issuecomment-190961900

[code]

[2016-06-24 06:49] #6 closed

[2016-07-18 14:51] ndelitski commented on #5
hi @SydOps! will work on these features soon!

[2016-08-09 23:28] flaccid commented on #5
Taking up a ticket in our sprint which needs this feature. I will likely just submit a PR. Starting work on it now..

[2016-08-09 23:29] flaccid commented on #4
Possible to kill this one soon?

[2016-08-09 23:29] flaccid commented on #1
Possible to wrap this one up soon?

[2016-08-10 10:29] #1 closed

[2016-08-10 10:57] ndelitski commented on #2
seems new array is not iterable until i specify length property, merged https://github.com/ndelitski/rancher-alarms/pull/3

[2016-08-10 10:57] #2 closed

[2016-08-10 11:21] ndelitski commented on #4
@flaccid fixed urls here https://github.com/ndelitski/rancher-alarms/commit/2e562aabb7d037a9f7181ec779b09460769e8d64

[2016-08-10 11:21] #4 closed

[2016-08-10 11:24] ndelitski commented on #5
@flaccid please wait i'll push slack integration in an hour and we could test then

[2016-08-10 11:26] flaccid commented on #5
@ndelitski ok no worries!

[2016-08-10 13:22] ndelitski commented on #5
pushed to master, please check with simple config
in a `config.json`

[code]

or through environment variables:

[code]

Also did email and slack message templates, so you can send your own letters and messages now.
More complicated examples will be shown in main readme file, i'll do it a bit later.

[2016-08-10 21:51] ozbillwang commented on #5
@ndelitski

That's nice job. Let me test it.

Created a new slack team https://rancher-alarms.slack.com for testing.

[code]

[2016-08-10 23:31] flaccid commented on #5
Feedback 1 : Possible to get a var for the `icon_emoji` ?

[2016-08-11 01:39] JayHaoDing opened #7 "ALARM_EMAIL_SSL is read as string than boolean in config.es6"
Set `ALARM_EMAIL_SSL: false` in docker-compose.yml file does not disable SSL usage and it will still cause rancher-alarms exist

[code]

I think it may be because it is read as string rather than boolean type in the config.es6

[code]

I should report this issue earlier cause I found this before. But I think I have changed my forked branch that simply removed below line in email.es6

`secure: smtp

[2016-08-11 05:54] jayhding commented on #7
Updates:

If I change emial.es6 as `secure: false` then email sending works. Even I have printed out value of `smtp.secureConnection` and it was `false` but somehow test result was still different.

[2016-08-11 08:48] ozbillwang commented on #5
@flaccid

Did you get alarms?

I start the container successful, but no alarms got, check the container log, I found the channel name is missed. But I did provide the channel name when start the stack.

[code]

If I docker exec into the container, run `env`, I can't see channel name as well.

When add the stack from catalog, I give the channel name to #alarms , maybe # is not allow in rancher.

[2016-08-11 08:58] ndelitski commented on #7
ok i'll see

[2016-08-11 09:10] ndelitski commented on #5
@SydOps forgot to say I didnt upload new image to a docker hub yet, so you need to build with dockerfile or test from sources. Checked `ALARM_SLACK_CHANNEL` env variable and it passed to alarms config correctly

[2016-08-11 09:11] ndelitski commented on #5
@flaccid sure! we should send more emotional alarms!

[2016-08-11 09:12] ozbillwang commented on #5
@ndelitski

I built image by myself. Seem there are some typo in my rancher-compose.yml file, fixing it.

[2016-08-11 09:16] ndelitski commented on #5
@SydOps also to see more details on whats going on you can set env LOG_LEVEL=trace|info|error

[2016-08-11 09:20] ozbillwang commented on #5
@ndelitski

Can you push the new image to hub.docker.com, but mark it with tag: 0.2.0? but don't link it to latest?

[2016-08-11 09:22] ndelitski commented on #5
yeah but a little bit later, have some troubles with internet channel now

[2016-08-11 09:22] ndelitski commented on #5
you can send custom messages by specifying `ALARM_SLACK_TEMPLATE="service <#{serviceUrl}|#{serviceName}/#{stackName}> become #{monitorState}"`. As you see variables injected with a `#{variable_name}` syntax

[2016-08-11 09:29] ndelitski commented on #5
here is a list of variables you can use in templates:

[code]

But you can't use nested props in a template for now, it is still in development, i mean
`#{service.id}` is not currently possible

[2016-08-11 09:32] ndelitski commented on #5
template can be loaded from a file mounted into a container (valuable if you wanna provide rich formatting with a html notifications), just use `ALARM_EMAIL_TEMPLATE_FILE=/etc/rancher-alarms/email-template.html` and docker run with `-v path-to/alarm-templates:/etc/rancher/alarms`

[2016-08-11 10:32] ozbillwang commented on #5
I fixed all problems, and start the container properly.

But still can't get alarms, check the container log, I can see the service running fine, but no new log after that.

[code]

I have started several containers and stop/start several times.

So how can I trigger an alarms?

Its rancher catalog is here:

https://github.com/BWITS/rancher-catalog/tree/master/templates/rancher-alarms/0

[2016-08-11 10:40] flaccid commented on #5
@SydOps stop and start actions are valid. Degraded/Unhealthy isn't - you basically want to make to emulate that. " A service is in the yellow (or “degraded”) state if Rancher has detected that at least one of the containers is either in the red state or in the process of returning it to a green state."
http://docs.rancher.com/rancher/v1.0/zh/rancher-services/health-checks/
A container may be exiti

[2016-08-11 10:50] flaccid commented on #5
@ndelitski Feedback 2: looking at your https://github.com/ndelitski/rancher-alarms/issues/5#issuecomment-239113419 (thanks btw) is it not possible to use the rancher environment/project name? We would like to create a link to to the env/project in the message.

[2016-08-11 11:30] ndelitski commented on #5
@flaccid extended template data with an environment/project variables, see https://github.com/ndelitski/rancher-alarms/commit/501adb842f701cd6609b047b6a26afbcccbc4673

[2016-08-11 12:04] flaccid commented on #5
Considering

[code]

When we mainly just want to do html template and we use env var only, do we just set `EMAIL_TEMPLATE` with the HTML template? @JayHaoDing isn't sure on how to do this or if its possible yet? Our use case here is send a email where the html template is specified by env var.

[2016-08-11 12:23] ndelitski commented on #5
In your code snippet EMAIL_TEMPLATE is a variable with default _text_ template for cases when you didnt provide custom one in a config. You can define custom _HTML_ template in two ways using env variables:
- exact string value of template `ALARM_EMAIL_TEMPLATE`
- read template from a file `ALARM_EMAIL_TEMPLATE_FILE`

[2016-08-11 12:29] ndelitski commented on #5
simple html template could look like:

[code]

[2016-08-11 12:31] flaccid commented on #5
@ndelitski no worries, thanks. @JayHaoDing will re-test this in our AU morning tomorrow and report back result.

[2016-08-11 12:41] ndelitski commented on #5
@flaccid nice! If all goes well we could do a new release with a latest tag then. we could even try to add our project to an official rancher catalog, what do you think? @SydOps have you succeeded in deploying service with a private rancher catalog?

[2016-08-11 12:48] flaccid commented on #5
@ndelitski yep no problem, we'll just make sure in the next day or so that all our little bits here are solved (pretty much almost there, I raised a couple of minor pull requests too). Happy to do the catalog entry for the community catalog. I can work with Rancher Labs then too if you like to see if its possible to get it in the official catalog.

[2016-08-12 00:59] ozbillwang commented on #5
@ndelitski

I have pushed the image I built to `bwits/rancher-alarms` as temp solution to test rancher catalog.

[2016-08-12 01:47] ozbillwang commented on #5
<img width="607" alt="screen shot 2016-08-12 at 11 44 51 am" src="https://cloud.githubusercontent.com/assets/8954908/17610596/c488c1a8-6082-11e6-8cdf-e0a5bcea9deb.png">

Finally I emulated an unhealthy container, and got the alarms. 👍

It is already good enough for me.

[2016-08-12 01:47] #5 closed

[2016-08-12 05:14] JayHaoDing opened #10 "Feature Request - Customized Email Subject"
@ndelitski First of all thanks for the html template support, now I can set ENV `ALARM_EMAIL_TEMPLATE` to use HTEML emails.

Could you also please add support for email subject customisation from environment?

[2016-08-12 05:17] JayHaoDing opened #11 "Feature Request - Notification also from degraded to active"
Right now notification will only be sent when service has become degraded for a while, but we would also like to receive notifications when it has recovered from degraded status. Then we can know what is the service's final status.

[2016-08-12 05:39] ndelitski commented on #10
Sure, I forgot to pass setting with env variable

On Aug 12, 2016 8:14 AM, "Jay (Hao) Ding" notifications@github.com wrote:

[2016-08-12 07:40] ndelitski commented on #11
What do you think on how should we notify if a service periodically jumping from a degraded to an active state and vice versa? is it ok to receive too many notifications? current logic is when a service become degraded you will receive only one notification independent on next status changes, maybe we should have specific settings enabling this feature?

[2016-08-12 09:08] jayhding commented on #11
That's exactly what we often see that service is flapping between active and degraded, actually I did change the code to notify for both directions and we have used for some time.

It is true it will generate more emails and that's why we changed to notify as slack message.

But considering the convenient to access slack, we can easily know if a service is back to normal state without connecting t

[2016-08-12 23:01] ozbillwang commented on #11
I am not really care the recovered status. Agree with @ndelitski, no need too many notifications. On Rancher server + hosts, especially for enterprise, we will install thousands containers, if there are too many notifications, operators will ignore them directly.

Second, we don't use Rancher Alarms as main alarms system. We have others, such sensu, dynatrace, etc. These alarms system will report

[2016-08-14 01:17] flaccid commented on #11
We all have different desires, use cases however the degraded->active to detect flapping has been very useful. Control by settings yes please.

Too many notifications to slack isn't really an issue particularly if you use a dedicated channel. Concept of DevOps/agile/CD here is to stop work and fix to keep the pipeline going. The spice must flow!

I doubt you can delete messages done by a webhook a

[2016-08-14 08:29] SydOps opened #12 "build alarms image with alpine-node"
Currently the image is built from official node image (start from 640MB). I built the image again from alpine-node image `mhart/alpine-node`, currently mhart/alpine-node doesn't support onbuild image (https://github.com/mhart/alpine-node/issues/56), so I built it by myself:
[code]
Then I got smaller image which is only 64.71MB.
[code]

I did test with this image, looks fine for me. You can also te

[2016-08-14 09:29] ndelitski commented on #12
yep, totally agree! was thinking about shrinking image size. PR is welcome 👍

[2016-08-14 09:41] ndelitski commented on #11
For the start if we implement an option like `notifyWhenRecovered=true` which is disabled by default, everybody ok with it? It will be configurable per target(email|slack...)

[2016-08-14 21:25] ozbillwang commented on #12
Thanks, I will do that.

In the meantime,  I tested with feature of slack only, could you please test with mail/smtp or others you think to check?

[2016-08-14 22:49] ndelitski commented on #10
hi @JayHaoDing! you can set subject now with env variable `ALARM_EMAIL_SUBJECT`. Templating is supported here so you are able to write smth like "[Rancher] Service #{serviceName} become degraded".

[2016-08-14 22:49] #10 closed

[2016-08-14 22:49] flaccid commented on #11
Absolutely. For first version that is great, using the same template I'd assume.

[2016-08-14 22:53] #12 closed

[2016-08-14 23:04] ndelitski commented on #7
@JayHaoDing fixed

[2016-08-14 23:04] #7 closed

[2016-08-14 23:20] ndelitski opened #14 "release 0.1.2"
Hey guys! @flaccid  @SydOps  @JayHaoDing Just published new release image labeled `v0.1.2`
Changes:
- #5 Slack integration
- #12 shrink image size with alpine-node
- Support templating + #10
- fixed bugs #7 #4 #2

Will create a ticket for the next upcoming release v0.2.0

[2016-08-14 23:24] flaccid commented on #14
@ndelitski fantastic thank you. I will give this a spin today and see if everything is covered. Will open new issue(s) if any problems.

[2016-08-14 23:24] ndelitski opened #15 "release 0.2.0"
Todo
- support dot variable notation in temlates ... `#{service.id}`
- update docs
- #11 Notification on active state when service is recovered

Is there anything i have missed @flaccid?

[2016-08-15 00:38] ozbillwang commented on #5
@flaccid

Quote: I can work with Rancher Labs then too if you like to see if its possible to get it in the official catalog.

@JayHaoDing and me did rancher-catalog for both email and slack notification. Could you help to add them to official  community-catalog?

https://github.com/JayHaoDing/rancher-catalog/tree/master/templates/rancher-alarms
https://github.com/BWITS/rancher-catalog/tree/master/

[2016-08-15 01:00] flaccid commented on #5
I'd prefer one catalog entry and once it is in the community repo contrib only needs to be done by pull request. I am a Rancher lover but don't need an organisation for it 😉

[2016-08-15 07:03] flaccid opened #16 "Cannot use a template variable more than once in template"
I assume this is due to the code in `render-template.es6`:
[code]

For example, I use this in my email template:

[code]

This will trip returning: `missing variables: #{serviceUrl}`.

Possible to fix (or do we consider using a template rendering package)?

[2016-08-15 07:31] ndelitski commented on #16
@flaccid yes this is exactly a bug in a template function, will fix it soon! missed global regex flag

[2016-08-15 07:35] #16 closed

[2016-08-15 11:10] #14 closed

[2016-08-16 09:05] flaccid commented on #16
Tested and confirmed also, thanks.

[2016-08-16 09:08] flaccid commented on #5
@SydOps as this issue is closed, I recommend creating new issue(s) for your last comment.

[2016-08-16 09:10] flaccid opened #17 "icon_emoji support for slack webhook"
See https://github.com/ndelitski/rancher-alarms/issues/5#issuecomment-239035985.
From a env var runtime perspective I'd assume the variable name would be `ALARM_SLACK_ICON_EMOJI`.

[2016-08-16 09:11] flaccid commented on #15
Circling back now. From what I can see, the only thing outstanding/desired is https://github.com/ndelitski/rancher-alarms/issues/17 (`icon_emoji` for slack webhook).

[2016-08-16 09:27] flaccid opened #18 "Clarity on filter - whitelist/blacklist | exclusion/inclusion"
Can we just have a bit of enhancement in the readme for `filter`?
Just trying to understand if 'whitelist' means exclusion or inclusion of stack/service names to monitor and raise alarms for?

Our particular use case is the exclusion one - we'd like to not monitor and alarm particular stacks or services that we don't care about.

Depending on your point of view here, the definition of whitelist/bl

[2016-08-16 13:17] ndelitski opened #19 "Run as an rancher agent"
Container might be started with a rancher-agent label and it will automatically receive credentials with an access to current environment

[2016-08-16 13:22] ndelitski commented on #18
Yeah, we absolutely need to support this feature in an environment config. Progam code already has this possibility and it is supported if you are using json config, so i have to extend configuration a little bit. I'll do it today

[2016-08-17 12:10] guzmo commented on #19
This sounds really cool :) Id rather start it up inside of the rancher environment and therefore it feels waste to have to set these parameters. Its not possible for it to use the http://rancher-metadata api otherwise?

[2016-08-17 12:59] ndelitski commented on #19
You can use http://rancher-metadata without any credentials, but I didn't do it because it hadn't enough information about the service state at that moment, so i call api directly with the api key.
*have to look at new version of rancher-metatada*

[2016-08-19 18:30] ndelitski commented on #19
@SydOps @flaccid hey guys no need to pass RANCHER_\* options anymore! v0.1.4 release is here https://github.com/ndelitski/rancher-alarms/blob/master/CHANGELOG.md

[2016-08-19 18:30] #19 closed

[2016-08-19 18:37] ndelitski commented on #18
@flaccid Implemented whitelist filter in v0.1.4 release, use `ALARM_FILTER` with list of regex values agains `stack/service` names, for example `ALARM_FILTER=app/*,frontend,backend`

[2016-08-19 18:37] #18 closed

[2016-08-31 05:24] flaccid commented on #18
@ndelitski thanks! Does that mean if the regex is within `ALARM_FILTER` that they are excluded from monitoring (I think we need a note against it in https://github.com/ndelitski/rancher-alarms/blob/master/README.md#polling-settings)?

[2016-10-06 08:41] guzmo opened #20 "Protected rancher environment"
Are you supporting an environment protected with AD? We use https as well but when I look in the code you add http by default.

[2016-10-10 10:09] guzmo commented on #20
Found that it worked, see https://github.com/ndelitski/rancher-alarms/pull/21

[2016-10-10 10:09] #20 closed

[2016-10-15 12:47] demarant opened #22 "ENOTFOUND error"
I tried the rancher-alarms by using the command:

`# docker run -it -d -e RANCHER_ADDRESS=https://rancher.eea.europa.eu -e RANCHER_ACCESS_KEY=<my-account-key> -e RANCHER_SECRET_KEY=<my-secret-key> -e RANCHER_PROJECT_ID=1a11 -e ALARM_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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  ndelitski/rancher-alarms`

We run Rancher 1.1.4 behind ngnix with [bas

[2017-01-04 12:00] VAdamec opened #23 "TypeError: Cannot read property 'toLowerCase' of undefined"
[code]

[code]

[2017-01-11 19:11] ndelitski commented on #23
Greetings @VAdamec! Which Rancher version do you use?

[2017-01-11 19:23] VAdamec commented on #23
I'm using Docker image with latest tag, so version 1.3.0 I believe, I'll check it tomorrow.

[2017-01-12 14:01] courcelm commented on #23
Having the same issue on Rancher 1.2.2

12/01/2017 08:54:07
12/01/2017 08:54:07> rancher-alarms@0.1.5 start /usr/src/app
12/01/2017 08:54:07> node bin/rancher-alarms.js
12/01/2017 08:54:07
12/01/2017 08:54:12[INFO]   2017-1-12 13:54:12:556    composing config from env variables
12/01/2017 08:54:12[INFO]   2017-1-12 13:54:12:569    started with config:
12/01/2017 08:54:12{
12/01/2017 08:54:12    "r

[2017-01-12 15:31] ndelitski commented on #23
Seems the problem is in a new Rancher API format, will release a fix soon

[2017-01-26 21:52] fredleger commented on #23
Running Rancher 1.1.4 seems to leads to the same error.

``
rancher-alarms_1 | 2017-01-26T21:48:56.583788330Z [INFO]   2017-1-26 21:48:56:583    discovered new running service, creating monitor for: undefined/letsencrypt
rancher-alarms_1 | 2017-01-26T21:48:56.736443624Z [ERROR]  2017-1-26 21:48:56:729    [TypeError: Cannot read property 'toLowerCase' of undefined] TypeError: Cannot read property '

[2017-01-26 22:02] ndelitski commented on #23
Sorry have no time to test just now, I will check this tomorrow with your
Rancher version

On Fri, 27 Jan 2017 at 00:52, Frederic Leger <notifications@github.com>
wrote:

Running Rancher 1.1.4 seems to leed to the same error.

'''
rancher-alarms_1 | 2017-01-26T21:48:56.583788330Z [INFO] 2017-1-26
21:48:56:583 discovered new running service, creating monitor for:
undefined/letsencrypt
rancher-alarm

[2017-01-27 02:33] knepperjm commented on #23
I am seeing the same issue with v1.2.2

[2017-01-27 20:00] ndelitski commented on #23
@VAdamec @courcelm @knepperjm @fredleger Hey guys! Please pull a new image `rancher-alarms:v0.1.6` and verify that your problem is gone. Just filtered out `system` type services and all worked. Thanks!

[2017-01-28 13:06] fredleger commented on #23
@ndelitski : at least i don't get the mentionned error in the logs.

But shouldn't it trigger a notification according to the logs bellow ?
I didn't receive any slack notifications and i d'ont see any tries on the logs.. right ?

``
rancher-alarms_1 | 2017-01-28T12:58:32.709534897Z [INFO]   2017-1-28 12:58:32:709    discovered new running service, creating monitor for: openvpn-rancherlocal/openvpn

[2017-01-28 13:19] fredleger commented on #23
OK made more testing and the error is still here...

**Steps to reproduce :**
a) rancher server v1.1.4 (possibilly more versions)
b) start a letsencrypt container from catalog, not providing the provider credentials. That will end with a container unable to go to the healthy state
c) see what happens in rancher-alarms logs

[code]

**API relevant part :**

[code]

[2017-01-28 15:34] ndelitski commented on #23
Thank you @fredleger! Looks like you found another corner case, when the service was added after alarms container has been started

[2017-01-28 16:35] ndelitski commented on #23
@fredleger Please check against `rancher-alarms:v0.1.7` image

[2017-01-29 01:23] fredleger commented on #23
@ndelitski : Good work ! This one work like a charm so far.

[2017-01-29 01:26] fredleger opened #24 "Add colors code to messages"
Might be a feature interesting.

We are using New Relic alerts to forward alerts in our slack channels and they do add colors next to the messages send (see below) to illustrate the type of event.
I think this will be nice in rancher-alarms as weel if not a big feature to add.

![image](https://cloud.githubusercontent.com/assets/2778741/22401160/4a0fff4a-e5ca-11e6-87ed-e5e0f76471e0.png)

[2017-01-29 01:33] fredleger commented on #24
Actually seems as easy as adding this to the message sent :

[code]

[2017-01-29 16:01] ndelitski commented on #24
cool idea! will release next

[2017-01-29 16:03] #23 closed

[2017-01-29 16:04] ndelitski commented on #23
closing the issue, if anyone will get an error just paste it here again

[2017-01-30 07:53] VAdamec commented on #23
Thanks, works perfectly

[2017-01-30 15:09] courcelm commented on #23
Works well also on Rancher 1.3.3

[2017-01-30 15:44] courcelm opened #25 "SSL error with email notification"
30/01/2017 10:37:50[ERROR]  2017-1-30 15:37:49:994    { [Error: 140126026197800:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:794:
30/01/2017 10:37:50]
30/01/2017 10:37:50  cause:
30/01/2017 10:37:50   [Error: 140126026197800:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:794:
3

[2017-01-31 08:37] flaccid commented on #25
`SSL23_GET_SERVER_HELLO:unknown protocol` typically indicates that the server communicated with doesn't support SSL or at least the version trying to handshake with.
Best to at least show your config and advise what the server/port supports (hopefully the config isn't connecting to plain SMTP).

[2017-01-31 14:54] courcelm commented on #25
I'm trying to use gmail server.

Here is my docker-compose.yml

# Send SMTP notifications with using full list of sutomization parameters
rancher-alarms:
  image: ndelitski/rancher-alarms
  environment:
    ALARM_EMAIL_ADDRESSES: myemail
    ALARM_EMAIL_USER: user
    ALARM_EMAIL_PASS: pass
    ALARM_EMAIL_SMTP_HOST: smtp.gmail.com
    ALARM_EMAIL_SMTP_PORT: 587
    ALARM_EMAIL_FROM: 'Alarm of a N

[2017-01-31 19:47] flaccid commented on #25
587 requires TLS. For SSL use 465.
https://support.google.com/a/answer/176600?hl=en

[2017-01-31 21:51] courcelm commented on #25
It works. Thanks!

[2017-01-31 21:51] #25 closed

[2017-02-09 13:38] VAdamec opened #27 "New action - webhook/exec or plugin for Graphite/InfluxDB events"
Hi,
 is there any chance to add webhook call (for example Jenkins) or simple exec ? For example my use case is to adding events/tags to Graphite/InfluxDB, like this:

curl -X POST "http://xxx:xxxx@influxdb:8086/write?db=events&precision=s" --data-binary "events title=\"Service prometheus degraded\",text=\"stack Prometheus became degraded (active)\",tags=\"rancher,alerts\" `date +%s`"

curl -X POST

[2017-02-09 16:06] VAdamec commented on #27
https://github.com/VAdamec/rancher-alarms  - graphite draft (authentication has some issue, still getting 401 and template can be completely removed). Any advice will be appreciated

[2017-02-10 05:53] VAdamec commented on #27
await axios({url: this._url, headers: {'Authorization': 'Basic Z3Vlc3Q6Z3Vlc3Q='}, withCredentials: true, auth: {username: this._GraphiteLogin, password: this._GraphitePass}, method: 'POST', data: webhookPayload});

auth setup with pass and login not working, with auth header and base64 hash it's ok. Anybody know how to create base64 hash ? I'm not programmer and didn't find any working solution f

[2017-02-10 06:35] VAdamec opened #28 "Project licence"
apache/gnu gpl/mit ?

[2017-02-12 18:17] ndelitski commented on #28
MIT! should I add license file to the project?

[2017-02-12 18:26] ndelitski commented on #27
Hello @VAdamec! You are on a correct way by adding a new Notification target. For your case with passing credentials try not to add `headers: Authorizaion` field when you already defined `auth` one. If you would like setup basic auth header manually then just remove `auth` prop and use Buffer for encoding `{Authorization: 'Basic ' + new Buffer(username + ':' + password).toString('base64')}`, no ne

[2017-02-12 19:18] VAdamec commented on #27
Still no luck to use auth, so base64 header is now only option. I'll make some test tomorrow and send you PR.

[2017-02-12 19:19] VAdamec commented on #28
It will be better, it's better to know how to handle code changes.

[2017-02-13 08:23] VAdamec commented on #27
#29

[2017-02-13 08:25] VAdamec commented on #27
No luck with auth, so just basic header used. Not sure about npm module installation. I have stable builds and tests with adding direct installation to Dockerfile. Also ```minimatch``` package was added due deprecation/security warning of used version.

[code]

[2017-04-04 10:34] VAdamec commented on #27
Hipchat added

[2017-04-11 01:08] iDiogenes opened #30 "False positives"
Hello,

I pointed this at my rancher 1.4.3 server and it said about half my stacks were in an UNHEALTHY state and fired off a bunch of emails. However, the rancher UI says everything is green.

Is 1.4 supported?

[2017-04-11 06:08] VAdamec commented on #30
I tried clean v1.4.3 and some sample apps from catalog and it seems to get state changes without any problem. Can you provide logs from container ? we can add some debug to see more later.

My sample log:

[code]

[2017-04-11 17:59] iDiogenes commented on #30
I am not sure if you initiated an issue, but it looks like your service pxc became UNHEALTHY after rancher-alarms started.

Here are my logs. As you can see 6 of the 10 services were marked as degraded and then UNHEALTH pretty much right on startup. Thre resulted in 6 emails being triggered. However, Rancher is showing every service as active/green.

4/11/2017 10:42:51 AM> rancher-alarms@0.1.7 sta

[2017-04-11 18:03] VAdamec commented on #30
Well GREEN service in Rancher UI doesn't mean it's healthy, depends on how you setup healtchecks in affected services. If you look to API services are they really healthy ?

[2017-04-11 18:12] iDiogenes commented on #30
Using the rancher cli running a `ps` against the environment shows every service and sidekick as healthy. What is rancher-alarms querying to check for a healthy state?

[2017-04-11 18:16] iDiogenes commented on #30
Also, using the "view in API" from the UI is showing the same results - active and healthy.

[2017-04-11 18:21] VAdamec commented on #30
That's strange, it get result from API (services, see server.es6 and rancher.es6), do you have more environments ?

[2017-04-11 18:30] iDiogenes commented on #30
There is only a single cattle environment on the server that is being queried.

[2017-04-12 06:41] VAdamec commented on #30
Ok, so please run it with debug, I need to see more than standard log

[2017-04-12 07:04] VAdamec commented on #30
I'm not familiar with trace() which is used here, but you can easily change it to info() in src/server.es6, line 32

[code]

it will show you complete API response which is received from Rancher. And run it from shell:

[code]

[2017-04-12 19:04] iDiogenes commented on #30
@VAdamec - I found the issue and it does have to do with the version of Rancher. The `_withoutSidekicks` function does a split on the container name using an underscore. In Rancher 1.2 (I believe, could be 1.3) they changed the sidekicks to be separated by a hyphen. I updated my code locally to use the hyphen and it solved my problem. Not sure how you want to address the issue, but a fix that supp

[2017-05-23 13:01] VAdamec opened #31 "Feature request - ignore list"
Add possibility to ignore some services (for example I have special Jenkins job which will remove and create testing service every minute to measure Rancher responses and catch possible bottlenecks). Right now no idea how to do it properly (without some superstupid condition and regexp in monitor.es6) but I'll try to sent some PR.

[2017-05-23 13:13] VAdamec commented on #31
Hm, already here :-) ```ALARM_FILTER```

[2017-05-23 13:20] VAdamec commented on #31
Hm, but seems that's only positive filter (match only ALARM_FILTER), what's probably better is negative (filter out given regexp)

[2017-05-23 13:42] VAdamec commented on #31
Easiest is negate actual filter (server.es6)

[code]

I will try to introduce negative filter option later.

[2017-05-23 14:38] VAdamec commented on #30
Ok, it's seems to be easy fix, do you create PR ? we see If and when @ndelitski accept it

[2017-06-13 09:01] fredleger commented on #24
Actually i had to implement it somewhere else, and there is more than just setting color, it must be an attachement. See here for reference : https://api.slack.com/docs/message-attachments

[2017-07-02 10:44] maven2016 opened #32 "Feature request - service stuck in "upgrading" status"
Is it possible to add a check if a service is stuck in "upgrading" status more than x minutes/seconds.
a notification (email/slack) would be sent?

Thanks,

[2017-07-28 20:13] jmreicha commented on #24
+1 This would be useful for alerting (green) when a service becomes healthy again.

[2017-07-28 20:17] jmreicha commented on #15
It looks like this has been open for awhile.  Is there any update on this?  Notification for services recovering would be huge.

[2017-07-28 20:32] ndelitski commented on #15
Hello! Thanks for your feedback, I'll try to make this possible during next
week
On Fri, 28 Jul 2017 at 23:17, Josh Reichardt <notifications@github.com>
wrote:

[2017-07-28 21:04] jmreicha commented on #15
@ndelitski Awesome, thanks for the update.

[2017-07-31 16:29] jmreicha opened #33 "Feature Request - Add PagerDuty as a notification target"
It would be useful to send alerts for downed services to PagerDuty.  I think it should only require a webhook URL.

[2017-07-31 16:39] VAdamec commented on #33
Did you try it ? seems to be easy, also PagerDuty provides examples for javascript.

[2017-07-31 17:49] jmreicha commented on #33
@VAdamec I don't really follow.  You mean, use the PD webhook in place of something or add some code to the project to allow for PD webhooks?

[2017-07-31 18:17] VAdamec commented on #33
Feature requests are fine, but what about to contribute :-)

[2017-07-31 18:21] jmreicha commented on #33
Oh yeah, I think I will try to add it this week and send a PR :)

[2017-07-31 20:17] VAdamec commented on #33
Hm, we could take https://www.npmjs.com/package/pagerduty-alert it will be quite easy. With Axios  we need to calculate auth header (https://www.pagerduty.com/blog/pagerduty-javascript-integration/) that seems to be also easy (with API Token Authentication).

[2017-08-15 17:46] ndelitski commented on #15
@jmreicha Hello just pushed new version with a recover state notification, please check if it works as expected and then we release it. Docker image version is `0.1.8-rc`

[2017-08-15 17:50] ndelitski commented on #15
btw recover notifications feature is enabled by default, do we even need it to be an optional?

[2017-08-15 18:35] jmreicha commented on #15
@ndelitski Awesome, I will try to test it out this week.  I don't really have a use case for turning off the recovery feature.  Thanks again!

[2017-08-16 18:28] jmreicha commented on #15
The recovery notification is working.

The only other thing I'd like to see is red for degraded and green when recovered for Slack messages.  I can do a separate PR or just work with the templates for that unless you want to make that default behavior.

[2017-08-16 18:34] jmreicha commented on #15
Woops.  There is already an issue for the colors https://github.com/ndelitski/rancher-alarms/issues/24.

[2017-08-17 10:44] ndelitski commented on #15
Ok from what I've read we need to hardcode message color depending on
notification type, sounds easy to implement. I'll do it soon 😉
On Wed, 16 Aug 2017 at 21:34, Josh Reichardt <notifications@github.com>
wrote:

[2017-08-24 19:47] mavcr opened #34 "Missing variables: #{healthyState}"
I'm using the template in the readme (Hey buddy! Your service #{serviceName} become #{healthyState}, direct link to the service #{serviceUrl}). When there is an unhealthy container it gives the following error:

8/24/2017 1:41:05 PMtemplate: Hey buddy! Your service #{serviceName} become #{healthyState}, direct link to the service #{serviceUrl}
8/24/2017 1:41:05 PMmissing variables: #{healthyState}

[2017-09-12 17:01] ndelitski commented on #34
Thanks I'll investigate this

[2017-10-03 23:19] flaccid commented on #17
@ndelitski any updates? :)

[2017-10-03 23:19] flaccid commented on #33
Any updates @ndelitski? :)

[2017-10-03 23:22] flaccid opened #35 "Question: simulate a flapping service"
Need to look at how to simulate a degraded stack/service.

Running an alpine container with a command that doesn't exist is an easy way to have a flapping service continue to go to degraded. This service doesn't appear to be picked up by rancher-alarms - I'm thinking that this may be because rancher alarms will only add services to monitor on startup that are currently active/healthy?

Also if ser

[2017-10-06 14:22] ndelitski commented on #35
Hello @flaccid ! I suppose the flapping service was not recognized because program starts and ends almost instantly, rancher-alarms polls every service by small intervals and compare service status between these checks, try to add a sleep command before.
Rancher-alarms detects new services on the fly, of course if their names meet filter setting.

[2017-10-10 05:04] flaccid opened #36 "Detected RANCHER_ADDRESS has trailing /v2-beta"
In some cases (not sure) why when using https://github.com/ndelitski/rancher-alarms#inside-rancher-environment-using-rancher-compose-cli the effective rancher address detected is has `/v2-beta' trailing.

That is it tries to connect using:
"url": "https://rancher.blah.io/v2-beta/v1/projects/1a29/environments"
instead of:
"url": "https://rancher.blah.io/v1/projects/1a29/environments"

Workaround is

[2017-10-11 08:19] flaccid commented on #35
`sleep` - a great idea, thanks !

[2017-10-11 08:19] #35 closed

[2017-10-13 02:57] bluemalkin opened #37 "Not picking up new or flapping services"
Hi,

I'm having troubles getting the rancher-alarms to work despite following the example compose.

**Issue 1:**
After creating the Rancher Alarm service, if I create a new service/stack/container then restart the Rancher Alarm service, the newly created service is not picked up in the logs. All other existing services are.
Could this require use of the ALARM_POLL_INTERVAL and/or ALARM_MONITOR_INT

[2017-10-13 03:19] flaccid commented on #37
It is strange because I create a new stack and service, say `alpine/alpine` and then restart rancher-alarms container and it simply does not pick up this new healthy service @ndelitski.

[2017-10-24 09:58] ndelitski commented on #37
`ALARM_POLL_INTERVAL` is used for fetching services list, so by default alarms service handle new and removed services after 60 sec
`ALARM_MONITOR_INTERVAL` - only used for healthchecks, every 15s by default alarms checks for every service state (degraded or active) in its internal service list.
Could you try to play with this timings? Have to do more clear naming btw...

[2017-10-27 09:44] flaccid commented on #37
@tombmurphy let's play with this next week. The polling may be missing discovery due to defaults.

[2017-10-27 09:46] flaccid opened #38 "Add forward proxy support"
With the http lib, add in support to consume proxy via environment variable. Recommend de facto variable names - `http_proxy`, `https_proxy`, `no_proxy`, `all_proxy` (and in caps).

[2017-10-30 22:35] flaccid commented on #37
Testing with 0.1.8-rc seems to have possibly addressed these issues. @bluemalkin see if you can do a coupld of manual tests to verify. At least on startup, rancher-alarms seems to be properly detecting all services.

[2017-10-31 00:06] flaccid opened #39 "Handle non-200 exceptions"
The process/container will exit when something like the following is hit. It would be good to add in some exception handling to perhaps retry or simply log and ignore for a period.

It looks like every now and then polling to rancher server might have a transient issue, so it would be good to handle this.

[code]

[2017-11-01 05:21] flaccid opened #40 "Question: How to do the opposite of filter"
Filter being used as a whitelist. We'd like to do the opposite and exclude (blacklist) a service.
In this case we actually want rancher-alarms to be excluded from monitoring due to transient issues.

Is this currently possible? If not, I guess its a feature request :)

[2017-11-01 18:39] VAdamec commented on #40
#31  ?

[2017-11-01 19:23] flaccid commented on #40
Whoops missed that. The ignore is certainly what I need!

[2017-11-06 02:22] flaccid commented on #39
In https://github.com/ndelitski/rancher-alarms/blob/master/src/rancher.es6#L36-L52:

[code]
The exception is caught, but instead of throwing can we retry or something?

Something to be more resilient and prevent rancher-alarms from exiting when it doesn't need to in this case. FYI @ndelitski

[2017-11-21 15:44] qiuwei commented on #31
This feature is definitely needed. Although the same thing could be done using looking head feature of RegExp, it's over complicated.

[2017-11-21 15:46] qiuwei opened #41 "False alarm for certain service"
False alarm for Percona XtraDB Cluster from the official catalog.
It reports the status changed from active to degraded, though pxc is running without any problems and shows active in the rancher interface.

[2017-11-28 08:31] flaccid commented on #37
Closing this one out, it does seem resolved. @bluemalkin did you want to close this one out now as resolved?

[2017-11-29 22:39] #37 closed

[2018-01-23 22:46] mleczakm opened #42 "[feature request] Info about upgrading services on slack"
Thanks for nice watcher ;) but informing only about degraded services is not enough for my workflow - is it possible to configure (or extend this container) to notify also about:
- services which are in upgrade-loop
- upgraded services (with tag name)
- turned-off services (manually or thru api)
? I didn't find anything in docs :( notifying on slack/hipchat is really useful for team.

[2018-03-23 00:07] shakefu opened #43 "rancher-alarms repeatedly crashing"
For whatever reason one of our services is causing rancher-alarms to crash every few minutes. Here's the traceback:

[code]

At the very least some defensive checking in the method (server.es6 line 48) that grabs the names could make it ignore or alert if somehow the names are missing instead of crashing the service.

[2018-03-29 12:19] spender0 commented on #43
the same, docker-compose:

`version: '2'
services:
  rancher-alarms:
    image: ndelitski/rancher-alarms:v0.1.7
    environment:
      ALARM_SLACK_BOTNAME: rancher-alarms
      ALARM_SLACK_CHANNEL: '@here'
      ALARM_SLACK_TEMPLATE: 'Your service #{serviceName} from #{environmentName} become
        #{healthyState}'
      ALARM_SLACK_WEBHOOK_URL: https://hooks.slack.com/services/...
    labels:

[2018-06-18 20:45] olljanat opened #44 "Feature request - rancher 2.0 support"
Very nice project. Do you have any plans to update it to support Rancher 2.0?

[2018-08-22 19:00] rafabios opened #45 "Memory usage keeps growing"
Hello,

After a couple of days the memory usage keeps growing continuasly.

3 tests:

Rancher 1.6,15
ndelitski/rancher-alarms:latest
Number of stacks: 20 (40 services average)

it starts consuming 20mb RAM:

- After 2 days: 600mb
- After 4 days: 1gb
- After 6 days: 5gb

Then I gotta restart it since I dont have any space.

[2018-10-09 14:37] dizlexik commented on #43
This is happening to me too. Is there any chance this may get fixed? Or is there a forked version of this project that includes a patch?

[2018-10-09 14:56] dizlexik commented on #43
So I stumbled onto a fork that has fixed this! And they even have an image on Docker Hub, hooray!
https://github.com/eea/rancher-alarms
https://hub.docker.com/r/eeacms/rancher-alarms/

[2021-01-29 07:46] DavideM78 opened #46 "Alarms do not get shipped"
Hi, I just follow the instructions in logs, this is the output of npm-debug.log:
[code]
rancher-alarms version is the 0.1.8-rc
Thanks in advance for any idea/support.

[2021-09-10 14:25] #22 closed